* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .container { */
  #root {
    display: grid;
    grid-template-rows: 60px calc(100vh - 100px) 40px;
  }

/* HEADER */

.header {
  max-width: 100%;
  height: 60px;
  background-color: #025FEB;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_icon {
  width: 110px;
}

.navigation {
  display: flex;
  gap: 40px;
}

.nav_link {
  display: flex;
  align-self: center;
  gap: 10px;
}

.nav_link a {
  color: #FFFFFF;
  align-self: center;
}

.nav_link img {
  width: 25px;
}

/* FOOTER */

.footer {
  color:  #4B5C68;
  background-color: #F6F7F7;
  font-weight: bold;
  padding: 0 40px;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

/* 404 */

.not_found {
  width: 100%;
  text-align: center;
  align-self: center;
}

.not_found img {
  max-width: 512px;
  width: 80%;
}

/* /* MAIN */

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 900px;
  margin: auto;
}

.title_table {
  color: #182C62;
  font-size:  24px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 60px;
}

thead {
  height: 40px;
  font-size: 14px;
  color:  #4B5C68;
  background-color: #E4EDF2;
}

.table_schedule thead th {
  padding: 0px 10px;
}

.table_schedule thead th:nth-child(1) {
  width:"15%";
}

.table_schedule thead th:nth-child(2) {
  width:"20%";
}

.table_schedule thead th:nth-child(3) {
  width:"30.5%";
  text-align: right;
}

.table_schedule thead th:nth-child(4) {
  width:"15%";
}

.table_schedule thead th:nth-child(5) {
  text-align: left;
  width:"30.5%";
}

tbody {
  font-size: 14px;
}

tbody tr {
  height: 70px;
}

.table_schedule tbody td {
  padding: 0 20px;
}

.table_schedule tbody td:nth-child(2n+1) {
  text-align: end;
}

.table_schedule tbody td:nth-child(4) {
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}

.table_schedule tbody td:last-child {
  text-align: inherit;
}

tbody > tr:nth-of-type(even) {
  background-color: #F6F7F7;
}

.table_schedule .container_flag_left, .table_schedule .container_flag_right, .table_leaderboards .team_name_flag  {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 12px;
  height: inherit;
  font-size: 16px;
  font-weight: bold;
}

.table_schedule .container_flag_right {
  justify-content: flex-start;
}

.flag_icon {
  width: 53px;
  height: 37px;
}

.point {
  color: #025FEB;
  font-size: 16px;
  font-weight: bold;
}

.table_leaderboards td {
  text-align-last: center;
}

.table_leaderboards th:nth-child(1){
  text-align-last: left;
  padding-left: 15px;
  width: 50%;
}

.table_leaderboards th:nth-child(2), 
.table_leaderboards th:nth-child(3),
.table_leaderboards th:nth-child(4), 
.table_leaderboards th:nth-child(5){
  width: 10%;
}

.table_leaderboards .team_name_flag {
  justify-content: flex-start;
  margin-left: 15px;
}
  
.table_leaderboards .goal_difference {
  display: none;
}

@media (max-width: 750px) and (min-height: 700px) {

  .table_schedule thead th:nth-child(1) {
    width:"15%";
  }
  
  .table_schedule thead th:nth-child(2) {
    display: none;
  }

  .table_schedule thead th:nth-child(3) {
    width:"30.5%";
  }
  
  .table_schedule thead th:nth-child(4) {
    width:"15%";
  }
  
  .table_schedule thead th:nth-child(5) {
    width:"30.5%";
  }

  .table_schedule tbody td:nth-child(2) {
    display: none;
    width:"0%";
  }

  .table_schedule tbody td {
    padding: 0 10px;
  }
}

@media (max-width: 500px) and (min-height: 700px) {

  .table_schedule thead th:nth-child(1) {
    display: none;
  }

  .table_schedule tbody td:nth-child(1) {
    display: none;
  }

  .table_leaderboards thead th:nth-child(3), .table_leaderboards thead th:nth-child(4),
  .table_leaderboards tbody td:nth-child(3), .table_leaderboards tbody td:nth-child(4){
    display: none;
  }

  .table_leaderboards .goal_difference {
    display: table-cell;
  }

}